<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-app="shopping-list" ng-controller="ctr">
        <h1 class="my-4">Shopping List App</h1>
        
        <div class="w-50">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Add a new item" ng-model="item">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" ng-click="">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="javascript.js"></script>
</body>
</html>